[submodule "ocr4all-app-communication"]
	path = ocr4all-app-communication
	url = https://github.com/OCR4all/ocr4all-app-communication.git
	branch = develop
[submodule "ocr4all-app-spi"]
	path = ocr4all-app-spi
	url = https://github.com/OCR4all/ocr4all-app-spi.git
	branch = develop
[submodule "ocr4all-app-persistence"]
	path = ocr4all-app-persistence
	url = https://github.com/OCR4all/ocr4all-app-persistence.git
	branch = develop
[submodule "ocr4all-app-ocrd-communication"]
	path = ocr4all-app-ocrd-communication
	url = https://github.com/OCR4all/ocr4all-app-ocrd-communication.git
	branch = develop
[submodule "ocr4all-app-ocrd-spi"]
	path = ocr4all-app-ocrd-spi
	url = https://github.com/OCR4all/ocr4all-app-ocrd-spi
	branch = develop
[submodule "ocr4all-app"]
	path = ocr4all-app
	url = https://github.com/OCR4all/ocr4all-app.git
	branch = develop
[submodule "ocr4all-app-msa"]
	path = ocr4all-app-msa
	url = https://github.com/OCR4all/ocr4all-app-msa.git
	branch = develop
[submodule "ocr4all-app-ocrd-msa"]
	path = ocr4all-app-ocrd-msa
	url = https://github.com/OCR4all/ocr4all-app-ocrd-msa.git
	branch = develop
[submodule "ocr4all-app-calamari-msa"]
	path = ocr4all-app-calamari-msa
	url = https://github.com/OCR4all/ocr4all-app-calamari-msa.git
	branch = develop
[submodule "ocr4all-app-calamari-communication"]
	path = ocr4all-app-calamari-communication
	url = https://github.com/OCR4all/ocr4all-app-calamari-communication.git
	branch = develop
[submodule "ocr4all-app-calamari-spi"]
	path = ocr4all-app-calamari-spi
	url = https://github.com/OCR4all/ocr4all-app-calamari-spi.git
	branch = develop
